.other-page-nav {
    display: flex;
    justify-content: space-between;
    // background-color: orange;
    padding: 10px 0;


    .left-box-nav {

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;

            li {
                margin-right: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                font-weight: bolder;
                font-size: 14px;

                svg {
                    margin-right: 5px;
                }
            }

            li:first-child {
                margin-right: 50px;
                // background-color: red;

            }

            li:not(.cat) {
                svg {
                    margin-left: 5px;
                }
            }


        }

        @media all and (max-width:768px) {
            display: none;
        }
    }


    .right-box-nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;

            li {
                margin-left: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                font-weight: bolder;
                font-size: 14px;

                svg {
                    margin-left: 5px;
                }
            }

        }

    }

}